In [584]:
import pandas as pd
import numpy as np
import statistics

In [585]:
values = pd.read_csv('../Datasets/Datasets_resultantes/Valoration.csv',delimiter = ',',encoding = "utf-8")

In [586]:
values.head(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
0,0,629,maua,SP,58,6,maua,SP,58,6,7.52,4.43,58,2548.80
1,1,2724,maua,SP,229,6,maua,SP,229,6,9.38,4.07,229,12520.10
2,2,476,belo horizonte,SP,126,4,belo horizonte,SP,126,4,6.73,4.58,126,13544.95
3,3,2882,sao goncalo,RJ,142,2,sao goncalo,RJ,142,2,12.79,4.35,142,16443.10
4,4,64,santo andre,SP,66,2,santo andre,SP,66,2,10.29,4.35,66,7889.90
5,5,326,limeira,SP,22,7,limeira,SP,22,7,7.64,4.55,22,2461.41
6,6,854,guariba,SP,1178,10,guariba,SP,1178,10,15.25,4.11,1178,236465.64
7,7,2150,pradopolis,SP,158,5,pradopolis,SP,158,5,16.57,4.17,158,45532.17
8,8,2613,formiga,MG,82,6,formiga,MG,82,6,10.11,4.59,82,16637.60
9,9,1557,barueri,SP,351,8,barueri,SP,351,8,11.30,4.21,351,182648.18

In [587]:
values.sample(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
858,858,1500,curitiba,PR,12,2,curitiba,PR,12,2,11.42,4.25,12,1638.99
2101,2101,31,americana,SP,18,2,americana,SP,18,2,9.44,4.28,18,1639.95
1209,1209,1442,brasilia,DF,3,2,brasilia,DF,3,2,5.67,5.00,3,228.40
561,561,1506,laranjal paulista,SP,253,4,laranjal paulista,SP,253,4,16.14,4.07,253,16953.71
686,686,2739,rio de janeiro,RJ,7,1,rio de janeiro,RJ,7,1,11.71,4.14,7,164.30
3074,3074,2080,sao paulo,SP,1,1,sao paulo,SP,1,1,NaN,2.00,1,165.00
2663,2663,1682,sao paulo,SP,5,0,sao paulo,SP,5,0,14.00,3.40,5,167.00
724,724,2522,cotia,SP,17,1,cotia,SP,17,1,8.65,4.53,17,2415.93
2852,2852,2668,cachoeiro de itapemirim,ES,5,1,cachoeiro de itapemirim,ES,5,1,14.60,4.20,5,2185.00
2185,2185,2003,rio de janeiro,RJ,5,2,rio de janeiro,RJ,5,2,10.00,4.60,5,1848.59

In [588]:
values.sort_values("total_income", axis=0, ascending=True,inplace=True, na_position='first')

In [589]:
values.replace('NaN', np.nan)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
2032,2032,2514,sao paulo,SP,1,1,sao paulo,SP,1,1,NaN,5.00,1,3.50
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.00,5.00,1,6.50
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.00,1.00,1,6.90
2674,2674,1367,juiz de fora,MG,1,0,juiz de fora,MG,1,0,2.00,5.00,1,7.60
2907,2907,2083,tubarao,SC,1,1,tubarao,SC,1,1,14.00,5.00,1,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,30,1532,itaquaquecetuba,SP,1454,6,itaquaquecetuba,SP,1454,6,22.43,3.39,1454,198118.30
10,10,3019,sumare,SP,605,5,sumare,SP,605,5,13.39,4.34,605,202716.62
194,194,878,ibitinga,SP,2128,7,ibitinga,SP,2128,7,14.39,3.80,2128,213208.27
6,6,854,guariba,SP,1178,10,guariba,SP,1178,10,15.25,4.11,1178,236465.64
335,335,1010,lauro de freitas,BA,435,2,lauro de freitas,BA,435,2,13.27,4.07,435,242591.55

In [590]:
values.head(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
2032,2032,2514,sao paulo,SP,1,1,sao paulo,SP,1,1,NaN,5.0,1,3.50
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.0,5.0,1,6.50
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.0,1.0,1,6.90
2674,2674,1367,juiz de fora,MG,1,0,juiz de fora,MG,1,0,2.0,5.0,1,7.60
2907,2907,2083,tubarao,SC,1,1,tubarao,SC,1,1,14.0,5.0,1,8.25
2148,2148,866,sorocaba,SP,1,1,sorocaba,SP,1,1,3.0,5.0,1,8.49
2788,2788,184,florianopolis,SC,1,1,florianopolis,SC,1,1,15.0,5.0,1,9.00
2754,2754,2330,rio de janeiro,RJ,1,1,rio de janeiro,RJ,1,1,15.0,5.0,1,9.90
2358,2358,1825,palotina,PR,1,1,palotina,PR,1,1,4.0,5.0,1,9.99
3035,3035,620,gaspar,SC,1,1,gaspar,SC,1,1,33.0,2.0,1,10.90
1497,1497,2474,sao paulo,SP,1,1,sao paulo,SP,1,1,13.0,1.0,1,11.90
2485,2485,726,jacarei,SP,2,1,jacarei,SP,2,1,17.0,4.0,2,12.00
2858,2858,2333,sao paulo,SP,1,1,sao paulo,SP,1,1,3.0,1.0,1,12.50
2875,2875,1508,sao jose do rio preto,SP,1,1,sao jose do rio preto,SP,1,1,6.0,5.0,1,12.50
2680,2680,1925,taubate,SP,1,1,taubate,SP,1,1,9.0,4.0,1,12.50
3060,3060,2184,sao paulo,SP,1,1,sao paulo,SP,1,1,4.0,4.0,1,12.99
3039,3039,3031,pelotas,RS,1,1,pelotas,RS,1,1,7.0,5.0,1,13.90
1957,1957,1121,sorocaba,SP,1,1,sorocaba,SP,1,1,17.0,3.0,1,14.00
2692,2692,1236,taboao da serra,SP,1,1,taboao da serra,SP,1,1,NaN,1.0,1,14.50
2514,2514,2016,jarinu,SP,1,1,jarinu,SP,1,1,8.0,5.0,1,14.63

In [591]:
count = values.seller_id.unique().size
count

3090

In [592]:
values.isnull().sum()

Unnamed: 0                   0
seller_id                    0
seller_city_x                0
seller_state_x               0
product_id_x                 0
product_category_name_x      0
seller_city_y                0
seller_state_y               0
product_id_y                 0
product_category_name_y      0
Delivery_time              125
review_avg                   0
total_orders                 0
total_income                 0
dtype: int64

In [593]:
values = values.dropna()

In [594]:
values.isnull().sum()

Unnamed: 0                 0
seller_id                  0
seller_city_x              0
seller_state_x             0
product_id_x               0
product_category_name_x    0
seller_city_y              0
seller_state_y             0
product_id_y               0
product_category_name_y    0
Delivery_time              0
review_avg                 0
total_orders               0
total_income               0
dtype: int64

In [595]:
#convert delivery avg column to positive numbers

In [596]:
#test_list = prueba_delivery['Delivery_time'].values.tolist()

In [597]:
#mean1 = statistics.mean(test_list)
#mean1

In [598]:
lista_prueba = values['total_income'].values.tolist()

In [599]:
lista_prueba[2317:]

[4449.0,
 4460.18,
 4462.85,
 4464.8,
 4465.34,
 4469.1,
 4469.56,
 4480.6,
 4482.22,
 4492.54,
 4505.8,
 4513.0,
 4522.28,
 4536.99,
 4537.6,
 4544.4,
 4552.0,
 4573.33,
 4583.0,
 4597.26,
 4598.4,
 4607.4,
 4622.17,
 4633.9,
 4642.59,
 4652.85,
 4677.29,
 4683.7,
 4700.0,
 4702.91,
 4702.96,
 4710.64,
 4748.1,
 4759.19,
 4762.6,
 4768.8,
 4783.99,
 4797.1,
 4799.87,
 4807.0,
 4808.78,
 4809.67,
 4813.25,
 4814.89,
 4819.76,
 4826.84,
 4849.3,
 4853.0,
 4858.56,
 4864.24,
 4873.84,
 4877.21,
 4880.22,
 4889.099999999999,
 4897.0,
 4905.6900000000005,
 4906.99,
 4916.36,
 4917.0,
 4922.27,
 4930.07,
 4955.42,
 4961.64,
 4980.8,
 4987.0,
 4994.8,
 4995.56,
 5018.1,
 5031.9,
 5089.13,
 5096.389999999999,
 5103.71,
 5135.71,
 5148.92,
 5153.400000000001,
 5167.81,
 5172.53,
 5177.8,
 5188.68,
 5193.83,
 5208.0,
 5220.900000000001,
 5223.82,
 5224.1,
 5235.200000000001,
 5239.7,
 5260.3,
 5261.650000000001,
 5279.91,
 5323.400000000001,
 5325.2,
 5327.37,
 5329.04,
 5341.37,
 5363.01,
 5376.0,
 5382.18,
 5399.0,
 5409.6,
 5439.099999999999,
 5449.67,
 5488.3,
 5489.0,
 5501.400000000001,
 5503.09,
 5518.0,
 5518.64,
 5522.05,
 5540.0,
 5548.7,
 5559.95,
 5560.9,
 5567.25,
 5567.75,
 5572.6,
 5594.15,
 5598.0,
 5598.2,
 5608.21,
 5636.21,
 5657.3,
 5679.5,
 5693.6,
 5712.56,
 5771.37,
 5788.56,
 5794.0,
 5822.8,
 5880.65,
 5884.0,
 5963.98,
 5974.9,
 5992.51,
 6001.59,
 6070.8,
 6080.0,
 6080.47,
 6096.8,
 6111.79,
 6168.74,
 6182.74,
 6182.889999999999,
 6186.7,
 6190.22,
 6202.91,
 6211.66,
 6212.46,
 6230.0,
 6245.0,
 6252.0,
 6288.01,
 6298.87,
 6305.0,
 6341.6,
 6364.2300000000005,
 6367.8,
 6384.0,
 6389.0,
 6439.96,
 6455.4,
 6467.5,
 6476.54,
 6499.0,
 6508.4,
 6527.0,
 6528.7,
 6562.59,
 6630.09,
 6632.0,
 6673.04,
 6689.6,
 6695.73,
 6698.7,
 6719.85,
 6720.0,
 6729.46,
 6729.5,
 6738.43,
 6745.69,
 6750.0,
 6762.89,
 6765.59,
 6772.0,
 6777.23,
 6787.5,
 6816.1900000000005,
 6833.0,
 6838.93,
 6850.0,
 6861.650000000001,
 6897.9,
 6899.570000000001,
 6903.8,
 6911.71,
 6921.13,
 6967.0,
 6979.36,
 7014.24,
 7029.0,
 7045.99,
 7081.66,
 7096.71,
 7097.9,
 7100.46,
 7106.68,
 7147.0,
 7167.52,
 7168.0,
 7198.8,
 7265.59,
 7271.67,
 7278.45,
 7288.99,
 7292.25,
 7319.44,
 7337.0,
 7356.77,
 7358.19,
 7400.09,
 7401.94,
 7426.0,
 7458.030000000001,
 7463.12,
 7473.49,
 7482.0,
 7534.56,
 7564.5,
 7567.8,
 7577.67,
 7580.79,
 7604.8,
 7625.28,
 7630.0,
 7639.26,
 7644.3,
 7647.019999999999,
 7658.0,
 7703.0,
 7712.769999999999,
 7714.87,
 7729.0,
 7753.5,
 7763.13,
 7764.85,
 7784.129999999999,
 7790.0,
 7799.92,
 7829.3,
 7840.88,
 7841.0,
 7846.0,
 7848.82,
 7889.9,
 7905.9,
 7916.98,
 7926.3,
 7927.5,
 7979.68,
 8003.0,
 8026.0,
 8032.0,
 8070.0,
 8071.89,
 8091.6,
 8119.95,
 8123.9,
 8124.4,
 8125.82,
 8140.5,
 8153.41,
 8164.0,
 8165.29,
 8167.9,
 8177.0,
 8178.0,
 8212.77,
 8229.43,
 8231.56,
 8253.42,
 8264.6,
 8269.5,
 8282.45,
 8283.94,
 8321.119999999999,
 8344.89,
 8405.41,
 8494.11,
 8532.0,
 8599.0,
 8606.25,
 8620.89,
 8623.5,
 8667.0,
 8754.22,
 8757.98,
 8790.49,
 8809.0,
 8868.56,
 8888.3,
 8926.2,
 8926.25,
 8954.52,
 9020.0,
 9037.45,
 9046.0,
 9053.89,
 9070.0,
 9091.0,
 9143.0,
 9156.3,
 9169.5,
 9192.0,
 9217.36,
 9226.82,
 9246.01,
 9254.29,
 9321.68,
 9344.4,
 9372.8,
 9376.95,
 9399.97,
 9421.5,
 9477.87,
 9542.1,
 9545.6,
 9561.85,
 9575.5,
 9592.0,
 9606.95,
 9622.83,
 9637.9,
 9650.27,
 9670.62,
 9721.85,
 9760.6,
 9806.67,
 9858.38,
 9889.7,
 9897.46,
 9951.4,
 9966.59,
 9983.1,
 10024.2,
 10094.65,
 10103.52,
 10125.05,
 10152.52,
 10157.5,
 10173.11,
 10233.9,
 10379.07,
 10397.78,
 10407.11,
 10427.7,
 10607.7,
 10615.2,
 10676.5,
 10697.69,
 10742.12,
 10745.2,
 10787.95,
 10883.9,
 10939.83,
 10961.74,
 11016.0,
 11023.15,
 11118.93,
 11119.28,
 11156.5,
 11161.9,
 11173.6,
 11186.83,
 11195.4,
 11220.99,
 11316.09,
 11365.0,
 11395.05,
 11468.98,
 11649.83,
 11699.32,
 11702.1,
 11739.49,
 11798.69,
 11832.22,
 11857.08,
 11871.84,
 11887.22,
 11892.0,
 11916.3,
 11919.37,
 11921.6,
 11975.2,
 11983.28,
 12023.0,
 12100.88,
 12169.5,
 12203.4,
 12292.6,
 12351.55,
 12520.1,
 12530.63,
 12558.2,
 12595.0,
 12695.84,
 12706.28,
 12708.55,
 12732.6,
 12816.81,
 12897.89,
 12900.26,
 12924.1,
 12925.0,
 13018.56,
 13046.77,
 13070.0,
 13082.32,
 13170.87,
 13244.58,
 13272.48,
 13307.39,
 13312.1,
 13315.9,
 13323.5,
 13340.57,
 13399.87,
 13407.3,
 13449.0,
 13455.45,
 13462.17,
 13469.11,
 13496.9,
 13544.95,
 13585.16,
 13588.7,
 13592.08,
 13595.8,
 13636.6,
 13665.9,
 13687.0,
 13716.7,
 13769.01,
 13824.34,
 13902.53,
 13947.8,
 14005.6,
 14021.8,
 14069.63,
 14169.28,
 14202.41,
 14238.42,
 14247.5,
 14279.3,
 14391.0,
 14433.9,
 14504.2,
 14504.47,
 14710.3,
 14767.42,
 14836.84,
 14887.25,
 14953.3,
 14999.45,
 15000.9,
 15147.13,
 15207.68,
 15232.0,
 15300.33,
 15480.0,
 15570.3,
 15582.29,
 15709.0,
 15731.43,
 15876.5,
 15907.0,
 15909.4,
 16031.88,
 16035.35,
 16055.8,
 16099.86,
 16150.0,
 16176.0,
 16222.74,
 16244.85,
 16300.5,
 16309.83,
 16443.100000000002,
 16594.85,
 16637.6,
 16720.0,
 16855.280000000002,
 16953.71,
 17190.8,
 17373.01,
 17455.73,
 17481.4,
 17498.96,
 17522.0,
 17670.13,
 17765.8,
 18020.31,
 18051.4,
 18362.11,
 18445.66,
 18520.79,
 18690.25,
 18712.92,
 18747.5,
 19025.36,
 19087.0,
 19142.44,
 19187.42,
 19258.13,
 19352.19,
 19463.0,
 19488.2,
 19774.7,
 20160.9,
 20183.8,
 20544.88,
 20817.0,
 21211.9,
 21360.34,
 21712.9,
 21821.0,
 22110.1,
 22357.51,
 22777.47,
 23096.6,
 23171.7,
 23209.8,
 23368.38,
 23522.86,
 24075.0,
 24346.38,
 24358.12,
 24469.1,
 24615.37,
 24696.2,
 24699.19,
 24736.6,
 24938.93,
 25152.33,
 25284.91,
 25608.69,
 25811.04,
 26133.56,
 26165.0,
 26384.11,
 26730.19,
 26894.52,
 27138.0,
 27190.22,
 27441.54,
 27478.31,
 27539.53,
 27573.0,
 27886.0,
 28626.5,
 28817.33,
 29124.41,
 29205.1,
 29290.36,
 31408.7,
 31803.27,
 31914.69,
 32121.81,
 32124.38,
 32172.75,
 32234.23,
 32880.17,
 32930.9,
 33028.35,
 33279.020000000004,
 33808.3,
 34210.56,
 34656.72,
 34840.26,
 35339.1,
 36217.97,
 36686.37,
 37287.06,
 37770.78,
 37910.25,
 37967.95,
 38129.4,
 38562.36,
 40093.5,
 40235.0,
 40458.0,
 40656.5,
 41163.02,
 41215.54,
 42043.8,
 42331.41,
 42494.08,
 42829.0,
 43580.89,
 43887.25,
 44917.09,
 45401.0,
 45495.53,
 45532.17,
 45802.84,
 46444.9,
 47626.07,
 47826.990000000005,
 48877.3,
 49829.0,
 51366.9,
 51449.78,
 51636.04,
 52157.1,
 52277.19,
 52774.27,
 54915.79,
 55826.78,
 55908.28,
 55983.85,
 56125.7,
 57832.13,
 58181.29,
 59773.3,
 60130.6,
 66496.51,
 67912.45,
 68003.56,
 73380.0,
 75444.42,
 81220.15,
 98434.2,
 106366.94,
 110324.35,
 111498.81,
 118220.6,
 118952.53,
 121140.06,
 127779.81,
 130377.09,
 135982.11000000002,
 142646.77,
 149554.88,
 171055.17,
 182648.18,
 198118.3,
 202716.62,
 213208.27,
 236465.64,
 242591.55]

In [600]:
mean = statistics.mean(lista_prueba)
median = statistics.median(lista_prueba)
median_low = statistics.median_low(lista_prueba)
median_high = statistics.median_high(lista_prueba)
quantiles = statistics.quantiles(lista_prueba)

In [601]:
print('mean = ', mean,
        'median = ', median,
        'median low =', median_low,
        'median high =', median_high,
        'quantiles = ', quantiles)

mean =  4759.0865699831365 median =  933.97 median low = 933.97 median high = 933.97 quantiles =  [244.45, 933.97, 3687.3999999999996]

In [602]:
index_1 = lista_prueba.index(3470)
index_1

2192

In [603]:
#Split dataframe in 4, sorted by avg income per month
df_low = values.iloc[0:772]
df_mid_low = values.iloc[773:1544]
df_mid_high = values.iloc[1545:2316]
df_high = values.iloc[2317:3090]

In [604]:
#split tier 4 into 4 sub-tiers
tier_1d = values.iloc[0:163]
tier_1c = values.iloc[164:324]
tier_1b = values.iloc[325:486]
tier_1a = values.iloc[487:648]

In [605]:
#Add identifying column to each DF 
df_low['tier'] = "4"
df_mid_low['tier'] = '3'
df_mid_high['tier'] = '2'
tier_1d['tier'] = '1d'
tier_1c['tier'] = '1c'
tier_1b['tier'] = '1b'
tier_1a ['tier'] = '1a'

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['tier'] = "4"
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['tier'] = '3'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['tier'] = '2'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['tier'] = '1d'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['tier'] = '1c'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['tier'] = '1b'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1497327823.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a ['tier'] = '1a'

In [606]:
#This function recieves a dataframe and name of column to be extracted as parameter, returns list of values adjusted to curve
def get_curve (df, column):
    list = df[column].values.tolist()
    normalized_list = []
    max_value = max(list)
    min_value = min(list)
    for i in list:
        x = ((i - min_value)/(max_value - min_value) * 10)
        normalized_list.append(x)
    
    return normalized_list

In [607]:
#Extract income KPI
x_low = get_curve (df_low, 'total_income')
x_mid_low = get_curve(df_mid_low, 'total_income')
x_mid_high = get_curve(df_mid_high, "total_income")
tier_1d_x = get_curve(tier_1d, 'total_income')
tier_1c_x = get_curve(tier_1c,'total_income')
tier_1b_x = get_curve(tier_1b, 'total_income')
tier_1a_X = get_curve(tier_1a, 'total_income')

In [608]:
#Add income KPI as new column
df_low['total_income_kpi'] = x_low
df_mid_low['total_income_kpi'] = x_mid_low
df_mid_high['total_income_kpi'] = x_mid_high
tier_1d['total_income_kpi'] = tier_1d_x
tier_1c['total_income_kpi'] = tier_1c_x
tier_1b['total_income_kpi'] = tier_1b_x
tier_1a['total_income_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['total_income_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['total_income_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['total_income_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['total_income_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['total_income_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['total_income_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/2676696113.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['total_income_kpi'] = tier_1a_X

In [609]:
#Extract review average KPI 
x_low = get_curve (df_low, 'review_avg')
x_mid_low = get_curve(df_mid_low, 'review_avg')
x_mid_high = get_curve(df_mid_high, "review_avg")
tier_1d_x = get_curve(tier_1d, 'review_avg')
tier_1c_x = get_curve(tier_1c,'review_avg')
tier_1b_x = get_curve(tier_1b, 'review_avg')
tier_1a_X = get_curve(tier_1a, 'review_avg')

In [610]:
#Add review KPI as new column
df_low['review_avg_kpi'] = x_low
df_mid_low['review_avg_kpi'] = x_mid_low
df_mid_high['review_avg_kpi'] = x_mid_high
tier_1d['review_avg_kpi'] = tier_1d_x
tier_1c['review_avg_kpi'] = tier_1c_x
tier_1b['review_avg_kpi'] = tier_1b_x
tier_1a['review_avg_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['review_avg_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['review_avg_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['review_avg_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['review_avg_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['review_avg_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['review_avg_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/3586926041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['review_avg_kpi'] = tier_1a_X

In [611]:
#Extract review delivery average KPI 
x_low = get_curve (df_low, 'Delivery_time')
x_mid_low = get_curve(df_mid_low, 'Delivery_time')
x_mid_high = get_curve(df_mid_high, "Delivery_time") 
tier_1d_x = get_curve(tier_1d, 'Delivery_time')
tier_1c_x = get_curve(tier_1c,'Delivery_time')
tier_1b_x = get_curve(tier_1b, 'Delivery_time')
tier_1a_X = get_curve(tier_1a, 'Delivery_time')

In [612]:
#Add delivery average KPI as new column
df_low['delivery_avg_kpi'] = x_low
df_mid_low['delivery_avg_kpi'] = x_mid_low
df_mid_high['delivery_avg_kpi'] = x_mid_high
tier_1d['delivery_avg_kpi'] = tier_1d_x
tier_1c['delivery_avg_kpi'] = tier_1c_x
tier_1b['delivery_avg_kpi'] = tier_1b_x
tier_1a['delivery_avg_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['delivery_avg_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['delivery_avg_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['delivery_avg_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['delivery_avg_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['delivery_avg_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['delivery_avg_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_5913/1900754394.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['delivery_avg_kpi'] = tier_1a_X

In [613]:
df_low.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
2296,2296,2002,sumare,SP,1,1,sumare,SP,1,1,7.00,1.00,1,214.08,4,8.224247,0.000,0.265957
3079,3079,1415,sao paulo,SP,1,1,sao paulo,SP,1,1,18.00,5.00,1,29.40,4,0.907290,10.000,0.851064
2164,2164,2154,sao paulo,SP,1,1,sao paulo,SP,1,1,6.00,4.00,1,89.00,4,3.268621,7.500,0.212766
2738,2738,3055,pocos de caldas,MG,1,1,pocos de caldas,MG,1,1,5.00,5.00,1,30.00,4,0.931062,10.000,0.159574
2973,2973,2677,sao paulo,SP,1,1,sao paulo,SP,1,1,17.00,5.00,1,199.99,4,7.666006,10.000,0.797872
2216,2216,2933,araxa,MG,1,1,araxa,MG,1,1,13.00,5.00,1,189.99,4,7.269810,10.000,0.585106
1314,1314,488,santa maria,RS,2,1,santa maria,RS,2,1,6.00,5.00,2,48.98,4,1.683043,10.000,0.212766
2482,2482,867,diadema,SP,2,1,diadema,SP,2,1,6.00,5.00,2,76.00,4,2.753566,10.000,0.212766
2180,2180,1017,sao paulo,SP,9,1,sao paulo,SP,9,1,17.38,2.56,9,148.30,4,5.618067,3.900,0.818085
3050,3050,2679,petropolis,RJ,1,1,petropolis,RJ,1,1,7.00,5.00,1,155.90,4,5.919176,10.000,0.265957
1802,1802,80,sao paulo,SP,4,2,sao paulo,SP,4,2,6.75,4.00,4,173.99,4,6.635895,7.500,0.252660
2596,2596,1260,sorocaba,SP,1,1,sorocaba,SP,1,1,2.00,5.00,1,119.90,4,4.492868,10.000,0.000000
1974,1974,1465,guarulhos,SP,6,2,guarulhos,SP,6,2,11.67,4.00,6,243.40,4,9.385895,7.500,0.514362
3013,3013,1449,londrina,PR,4,2,londrina,PR,4,2,8.25,2.25,4,179.80,4,6.866086,3.125,0.332447
1146,1146,565,barueri,SP,2,1,barueri,SP,2,1,10.00,4.50,2,141.82,4,5.361331,8.750,0.425532
3039,3039,3031,pelotas,RS,1,1,pelotas,RS,1,1,7.00,5.00,1,13.90,4,0.293185,10.000,0.265957
2534,2534,503,porto alegre,RS,2,1,porto alegre,RS,2,1,8.50,4.50,2,94.00,4,3.466719,8.750,0.345745
2487,2487,1562,sao paulo,SP,2,1,sao paulo,SP,2,1,11.00,3.00,2,84.00,4,3.070523,5.000,0.478723
996,996,133,curitiba,PR,2,1,curitiba,PR,2,1,7.00,5.00,2,158.88,4,6.037242,10.000,0.265957
2297,2297,98,sao paulo,SP,2,0,sao paulo,SP,2,0,9.00,4.00,2,51.80,4,1.794770,7.500,0.372340

In [614]:
df_mid_low.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
970,970,2502,cotia,SP,24,1,cotia,SP,24,1,8.05,4.67,24,365.10,3,1.385757,9.175,0.720238
2286,2286,1372,sao paulo,SP,10,1,sao paulo,SP,10,1,12.80,4.50,10,585.00,3,4.258652,8.750,1.285714
1872,1872,2751,sao paulo,SP,2,1,sao paulo,SP,2,1,6.00,4.50,2,456.00,3,2.573325,8.750,0.476190
545,545,1824,sao paulo,SP,9,2,sao paulo,SP,9,2,21.67,3.56,9,648.10,3,5.083025,6.400,2.341667
1095,1095,502,rio de janeiro,RJ,11,3,rio de janeiro,RJ,11,3,10.55,3.18,11,676.90,3,5.459284,5.450,1.017857
295,295,2913,artur nogueira,SP,5,2,artur nogueira,SP,5,2,11.00,2.60,5,727.60,3,6.121657,4.000,1.071429
1617,1617,1611,santa terezinha de itaipu,PR,14,3,santa terezinha de itaipu,PR,14,3,10.86,4.43,14,978.90,3,9.404779,8.575,1.054762
106,106,1275,guaratuba,PR,6,4,guaratuba,PR,6,4,5.60,3.83,6,719.59,3,6.017010,7.075,0.428571
1964,1964,2064,paraiso do sul,RS,5,3,paraiso do sul,RS,5,3,12.00,4.20,5,277.67,3,0.243523,8.000,1.190476
2946,2946,1001,osasco,SP,3,1,osasco,SP,3,1,15.33,4.67,3,390.80,3,1.721516,9.175,1.586905
55,55,105,taubate,SP,9,4,taubate,SP,9,4,10.89,3.78,9,324.20,3,0.851417,6.950,1.058333
2568,2568,1659,nhandeara,SP,1,1,nhandeara,SP,1,1,13.00,5.00,1,269.90,3,0.142012,10.000,1.309524
2618,2618,1229,campinas,SP,2,1,campinas,SP,2,1,41.00,4.00,2,779.80,3,6.803627,7.500,4.642857
2851,2851,1937,belo horizonte,MG,7,2,belo horizonte,MG,7,2,9.86,4.57,7,466.60,3,2.711809,8.925,0.935714
1083,1083,2629,sao paulo,SP,13,1,sao paulo,SP,13,1,19.23,3.15,13,722.50,3,6.055028,5.375,2.051190
866,866,542,curitiba,PR,5,1,curitiba,PR,5,1,15.75,2.60,5,845.89,3,7.667063,4.000,1.636905
703,703,1664,curitiba,PR,5,2,curitiba,PR,5,2,7.40,4.40,5,319.50,3,0.790013,8.500,0.642857
2169,2169,2202,jacarei,SP,11,2,jacarei,SP,11,2,13.82,2.91,11,566.00,3,4.010426,4.775,1.407143
775,775,244,garuva,SC,6,2,garuva,SC,6,2,10.50,4.33,6,308.96,3,0.652313,8.325,1.011905
1742,1742,186,caxias do sul,RS,14,1,caxias do sul,RS,14,1,14.00,4.71,14,978.60,3,9.400860,9.275,1.428571

In [615]:
df_mid_high.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
480,480,644,rio de janeiro,RJ,25,5,rio de janeiro,RJ,25,5,9.48,4.04,25,2265.48,2,3.634552,7.600,1.082171
946,946,56,sao paulo,SP,10,2,sao paulo,SP,10,2,18.25,3.20,10,1055.00,2,0.076138,5.500,2.441860
1512,1512,2806,sao paulo,SP,48,9,sao paulo,SP,48,9,12.73,3.35,48,2256.34,2,3.607683,5.875,1.586047
1048,1048,425,mogi das cruzes,SP,34,1,mogi das cruzes,SP,34,1,15.82,3.85,34,3220.00,2,6.440527,7.125,2.065116
1844,1844,955,feira de santana,BA,3,1,feira de santana,BA,3,1,67.00,4.00,3,1230.00,2,0.590580,7.500,10.000000
1564,1564,463,sao paulo,SP,47,2,sao paulo,SP,47,2,12.22,2.62,47,1189.96,2,0.472876,4.050,1.506977
1602,1602,319,sao paulo,SP,66,4,sao paulo,SP,66,4,10.18,4.05,66,3746.34,2,7.987794,7.625,1.190698
1636,1636,3063,marica,RJ,13,1,marica,RJ,13,1,11.58,3.85,13,1868.70,2,2.468149,7.125,1.407752
539,539,830,paulinia,SP,12,1,paulinia,SP,12,1,6.33,4.83,12,1104.89,2,0.222798,9.575,0.593798
1335,1335,2851,porto ferreira,SP,36,1,porto ferreira,SP,36,1,15.53,2.69,36,1216.74,2,0.551600,4.225,2.020155
1122,1122,1994,curitiba,PR,21,5,curitiba,PR,21,5,17.50,4.43,21,1239.20,2,0.617625,8.575,2.325581
1541,1541,2118,curitiba,PR,7,1,curitiba,PR,7,1,8.29,4.86,7,1620.30,2,1.737934,9.650,0.897674
2064,2064,63,rio de janeiro,RJ,13,1,rio de janeiro,RJ,13,1,9.67,3.38,13,1328.00,2,0.878668,5.950,1.111628
223,223,3050,sao paulo,SP,80,14,sao paulo,SP,80,14,8.74,4.32,80,2477.05,2,4.256498,8.300,0.967442
971,971,2752,diadema,SP,24,2,diadema,SP,24,2,9.50,4.29,24,2400.00,2,4.029996,8.225,1.085271
896,896,2991,ibitinga,SP,74,2,ibitinga,SP,74,2,10.49,3.82,74,2787.40,2,5.168825,7.050,1.238760
127,127,795,santo andre,SP,24,4,santo andre,SP,24,4,9.54,4.67,24,1514.09,2,1.425712,9.175,1.091473
2019,2019,210,sao paulo,SP,3,1,sao paulo,SP,3,1,5.33,5.00,3,1197.00,2,0.493571,10.000,0.438760
1101,1101,1701,sao goncalo,RJ,46,1,sao goncalo,RJ,46,1,14.91,3.91,46,3668.51,2,7.759000,7.275,1.924031
481,481,1694,curitiba,PR,14,4,curitiba,PR,14,4,9.33,2.64,14,2369.80,2,3.941218,4.100,1.058915

In [616]:
df_high = pd.concat([tier_1a, tier_1b, tier_1c, tier_1d])

In [617]:
kpi_table = pd.concat([df_low, df_mid_low, df_mid_high], axis=0)

In [618]:
kpi_table.sample(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
2169,2169,2202,jacarei,SP,11,2,jacarei,SP,11,2,13.82,2.91,11,566.00,3,4.010426,4.775,1.407143
1010,1010,1058,sao paulo,SP,2,1,sao paulo,SP,2,1,6.00,5.00,2,125.25,4,4.704834,10.000,0.212766
2519,2519,846,dores de campos,MG,1,0,dores de campos,MG,1,0,18.00,5.00,1,75.00,4,2.713946,10.000,0.851064
246,246,1025,curitiba,PR,21,2,curitiba,PR,21,2,11.48,4.19,21,1341.90,2,0.919529,7.975,1.392248
935,935,2524,sao paulo,SP,19,3,sao paulo,SP,19,3,14.05,4.00,19,1384.10,2,1.043584,7.500,1.790698
1353,1353,2958,penapolis,SP,4,2,penapolis,SP,4,2,5.50,4.75,4,409.60,3,1.967130,9.375,0.416667
2037,2037,1579,sao paulo,SP,5,1,sao paulo,SP,5,1,7.80,4.20,5,196.68,4,7.534865,8.000,0.308511
1912,1912,74,sao paulo,SP,2,2,sao paulo,SP,2,2,6.00,5.00,2,133.22,4,5.020602,10.000,0.212766
1823,1823,215,sao paulo,SP,2,1,sao paulo,SP,2,1,21.50,3.50,2,397.00,3,1.802516,6.250,2.321429
1543,1543,1183,fernando prestes,SP,3,1,fernando prestes,SP,3,1,8.00,4.33,3,86.60,4,3.173534,8.325,0.319149

In [619]:
#create function that subtracts delivery_avg_kpi from 10, returns result
def flip_kpi (df, column):
    list = df[column].values.tolist()
    flipped_list = []
    for i in list:
        res = (10 - i)
        flipped_list.append(res)
        
    return flipped_list

In [620]:
temp_list = flip_kpi (kpi_table, 'delivery_avg_kpi')

In [621]:
kpi_table['delivery_avg_kpi*'] = temp_list

In [622]:
kpi_table['performance_kpi'] = kpi_table[['total_income_kpi', 'review_avg_kpi', 'delivery_avg_kpi*']].mean(axis=1)

In [623]:
kpi_table.sample(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi,delivery_avg_kpi*,performance_kpi
2409,2409,1918,sao paulo,SP,4,1,sao paulo,SP,4,1,7.00,4.75,4,749.60,3,6.409077,9.375,0.595238,9.404762,8.396280
2355,2355,2006,sao paulo,SP,3,2,sao paulo,SP,3,2,8.67,4.33,3,805.65,3,7.141345,8.325,0.794048,9.205952,8.224099
1703,1703,90,ribeirao preto,SP,7,2,ribeirao preto,SP,7,2,13.43,4.29,7,241.20,4,9.298732,8.225,0.607979,9.392021,8.971918
2014,2014,1675,sao paulo,SP,1,1,sao paulo,SP,1,1,12.00,5.00,1,389.99,3,1.710934,10.000,1.190476,8.809524,6.840153
611,611,104,botucatu,SP,23,2,botucatu,SP,23,2,12.91,3.30,23,2073.30,2,3.069606,5.750,1.613953,8.386047,5.735217
246,246,1025,curitiba,PR,21,2,curitiba,PR,21,2,11.48,4.19,21,1341.90,2,0.919529,7.975,1.392248,8.607752,5.834094
848,848,175,contagem,MG,33,1,contagem,MG,33,1,9.15,4.52,33,3176.70,2,6.313240,8.800,1.031008,8.968992,8.027411
2549,2549,2596,guiricema,MG,4,1,guiricema,MG,4,1,13.00,3.50,4,368.60,3,1.431483,6.250,1.309524,8.690476,5.457320
1791,1791,1901,curitiba,PR,1,1,curitiba,PR,1,1,32.00,1.00,1,180.00,4,6.874010,0.000,1.595745,8.404255,5.092755
2465,2465,2746,arapongas,PR,3,2,arapongas,PR,3,2,11.00,2.33,3,387.00,3,1.671871,3.325,1.071429,8.928571,4.641814

In [628]:
kpi_table.drop(columns=['delivery_avg_kpi'])

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi*,performance_kpi
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.00,5.00,1,6.50,4,0.000000,10.000,9.468085,6.489362
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.00,1.00,1,6.90,4,0.015848,0.000,9.734043,3.249963
2674,2674,1367,juiz de fora,MG,1,0,juiz de fora,MG,1,0,2.00,5.00,1,7.60,4,0.043582,10.000,10.000000,6.681194
2907,2907,2083,tubarao,SC,1,1,tubarao,SC,1,1,14.00,5.00,1,8.25,4,0.069334,10.000,9.361702,6.477012
2148,2148,866,sorocaba,SP,1,1,sorocaba,SP,1,1,3.00,5.00,1,8.49,4,0.078843,10.000,9.946809,6.675217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,1295,2293,guarulhos,SP,68,3,guarulhos,SP,68,3,13.69,3.94,68,4373.98,2,9.832850,7.350,8.265116,8.482656
2045,2045,1129,sao jose,SC,11,1,sao jose,SC,11,1,5.64,4.91,11,4423.40,2,9.978129,9.775,9.513178,9.755436
1330,1330,2798,itapevi,SP,30,5,itapevi,SP,30,5,10.10,3.93,30,4427.00,2,9.988712,7.325,8.821705,8.711806
581,581,2085,fronteira,MG,45,1,fronteira,MG,45,1,11.78,4.11,45,4430.28,2,9.998354,7.775,8.561240,8.778198
772,772,549,belo horizonte,MG,19,1,belo horizonte,MG,19,1,14.20,3.05,19,4430.84,2,10.000000,5.125,8.186047,7.770349