In [37]:
import pandas as pd
import numpy as np
import statistics

In [38]:
values = pd.read_csv('../Datasets/Datasets_resultantes/Valoration.csv',delimiter = ',',encoding = "utf-8")

In [39]:
values.head(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
0,0,629,maua,SP,58,6,maua,SP,58,6,7.52,4.43,58,2548.80
1,1,2724,maua,SP,229,6,maua,SP,229,6,9.38,4.07,229,12520.10
2,2,476,belo horizonte,SP,126,4,belo horizonte,SP,126,4,6.73,4.58,126,13544.95
3,3,2882,sao goncalo,RJ,142,2,sao goncalo,RJ,142,2,12.79,4.35,142,16443.10
4,4,64,santo andre,SP,66,2,santo andre,SP,66,2,10.29,4.35,66,7889.90
5,5,326,limeira,SP,22,7,limeira,SP,22,7,7.64,4.55,22,2461.41
6,6,854,guariba,SP,1178,10,guariba,SP,1178,10,15.25,4.11,1178,236465.64
7,7,2150,pradopolis,SP,158,5,pradopolis,SP,158,5,16.57,4.17,158,45532.17
8,8,2613,formiga,MG,82,6,formiga,MG,82,6,10.11,4.59,82,16637.60
9,9,1557,barueri,SP,351,8,barueri,SP,351,8,11.30,4.21,351,182648.18

In [40]:
values.sample(10)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
990,990,389,itu,SP,8,2,itu,SP,8,2,8.62,4.25,8,525.40
356,356,606,porto alegre,RS,48,1,porto alegre,RS,48,1,10.75,4.62,48,8282.45
1519,1519,2173,extrema,MG,5,3,extrema,MG,5,3,13.40,3.20,5,1208.00
166,166,2028,itirapina,SP,5,1,itirapina,SP,5,1,10.40,3.60,5,382.50
2953,2953,1246,belo horizonte,MG,1,1,belo horizonte,MG,1,1,16.00,5.00,1,89.54
2874,2874,1804,sao paulo,SP,4,1,sao paulo,SP,4,1,7.75,4.50,4,107.69
1962,1962,773,ribeirao pires,SP,28,3,ribeirao pires,SP,28,3,8.61,4.29,28,1915.75
2898,2898,2174,praia grande,SP,3,1,praia grande,SP,3,1,17.00,2.67,3,360.00
266,266,368,sao jose do rio preto,SP,2009,3,sao jose do rio preto,SP,2009,3,15.47,3.98,2009,111498.81
671,671,2652,franca,SP,1,1,franca,SP,1,1,18.00,4.00,1,199.99

In [41]:
#sort table by income
values.sort_values("total_income", axis=0, ascending=True,inplace=True, na_position='first')

In [42]:
values.replace('NaN', np.nan)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
2032,2032,2514,sao paulo,SP,1,1,sao paulo,SP,1,1,NaN,5.00,1,3.50
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.00,5.00,1,6.50
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.00,1.00,1,6.90
2674,2674,1367,juiz de fora,MG,1,0,juiz de fora,MG,1,0,2.00,5.00,1,7.60
2907,2907,2083,tubarao,SC,1,1,tubarao,SC,1,1,14.00,5.00,1,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,30,1532,itaquaquecetuba,SP,1454,6,itaquaquecetuba,SP,1454,6,22.43,3.39,1454,198118.30
10,10,3019,sumare,SP,605,5,sumare,SP,605,5,13.39,4.34,605,202716.62
194,194,878,ibitinga,SP,2128,7,ibitinga,SP,2128,7,14.39,3.80,2128,213208.27
6,6,854,guariba,SP,1178,10,guariba,SP,1178,10,15.25,4.11,1178,236465.64
335,335,1010,lauro de freitas,BA,435,2,lauro de freitas,BA,435,2,13.27,4.07,435,242591.55

In [43]:
values.head(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income
2032,2032,2514,sao paulo,SP,1,1,sao paulo,SP,1,1,NaN,5.0,1,3.50
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.0,5.0,1,6.50
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.0,1.0,1,6.90
2674,2674,1367,juiz de fora,MG,1,0,juiz de fora,MG,1,0,2.0,5.0,1,7.60
2907,2907,2083,tubarao,SC,1,1,tubarao,SC,1,1,14.0,5.0,1,8.25
2148,2148,866,sorocaba,SP,1,1,sorocaba,SP,1,1,3.0,5.0,1,8.49
2788,2788,184,florianopolis,SC,1,1,florianopolis,SC,1,1,15.0,5.0,1,9.00
2754,2754,2330,rio de janeiro,RJ,1,1,rio de janeiro,RJ,1,1,15.0,5.0,1,9.90
2358,2358,1825,palotina,PR,1,1,palotina,PR,1,1,4.0,5.0,1,9.99
3035,3035,620,gaspar,SC,1,1,gaspar,SC,1,1,33.0,2.0,1,10.90
1497,1497,2474,sao paulo,SP,1,1,sao paulo,SP,1,1,13.0,1.0,1,11.90
2485,2485,726,jacarei,SP,2,1,jacarei,SP,2,1,17.0,4.0,2,12.00
2858,2858,2333,sao paulo,SP,1,1,sao paulo,SP,1,1,3.0,1.0,1,12.50
2875,2875,1508,sao jose do rio preto,SP,1,1,sao jose do rio preto,SP,1,1,6.0,5.0,1,12.50
2680,2680,1925,taubate,SP,1,1,taubate,SP,1,1,9.0,4.0,1,12.50
3060,3060,2184,sao paulo,SP,1,1,sao paulo,SP,1,1,4.0,4.0,1,12.99
3039,3039,3031,pelotas,RS,1,1,pelotas,RS,1,1,7.0,5.0,1,13.90
1957,1957,1121,sorocaba,SP,1,1,sorocaba,SP,1,1,17.0,3.0,1,14.00
2692,2692,1236,taboao da serra,SP,1,1,taboao da serra,SP,1,1,NaN,1.0,1,14.50
2514,2514,2016,jarinu,SP,1,1,jarinu,SP,1,1,8.0,5.0,1,14.63

In [44]:
count = values.seller_id.unique().size
count

3090

In [45]:
values.isnull().sum()

Unnamed: 0                   0
seller_id                    0
seller_city_x                0
seller_state_x               0
product_id_x                 0
product_category_name_x      0
seller_city_y                0
seller_state_y               0
product_id_y                 0
product_category_name_y      0
Delivery_time              125
review_avg                   0
total_orders                 0
total_income                 0
dtype: int64

In [46]:
#drop 125 rows with null values
values = values.dropna()

In [47]:
values.isnull().sum()

Unnamed: 0                 0
seller_id                  0
seller_city_x              0
seller_state_x             0
product_id_x               0
product_category_name_x    0
seller_city_y              0
seller_state_y             0
product_id_y               0
product_category_name_y    0
Delivery_time              0
review_avg                 0
total_orders               0
total_income               0
dtype: int64

In [48]:
#create list from income column in order to run statistics 
lista_prueba = values['total_income'].values.tolist()

In [49]:
#statistics con total income list 
mean = statistics.mean(lista_prueba)
median = statistics.median(lista_prueba)
median_low = statistics.median_low(lista_prueba)
median_high = statistics.median_high(lista_prueba)
quantiles = statistics.quantiles(lista_prueba)

In [50]:
#view results of statistics
print('mean = ', mean,
        'median = ', median,
        'median low =', median_low,
        'median high =', median_high,
        'quantiles = ', quantiles)

mean =  4759.0865699831365 median =  933.97 median low = 933.97 median high = 933.97 quantiles =  [244.45, 933.97, 3687.3999999999996]

In [51]:
#Split dataframe in 4, sorted by avg income per month
df_low = values.iloc[0:772]
df_mid_low = values.iloc[773:1544]
df_mid_high = values.iloc[1545:2316]
df_high = values.iloc[2317:3090]

In [52]:
#split tier 4 into 4 sub-tiers
tier_1d = values.iloc[0:163]
tier_1c = values.iloc[164:324]
tier_1b = values.iloc[325:486]
tier_1a = values.iloc[487:648]

In [53]:
#Add identifying column to each DF 
df_low['tier'] = "4"
df_mid_low['tier'] = '3'
df_mid_high['tier'] = '2'
tier_1d['tier'] = '1d'
tier_1c['tier'] = '1c'
tier_1b['tier'] = '1b'
tier_1a ['tier'] = '1a'

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['tier'] = "4"
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['tier'] = '3'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['tier'] = '2'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['tier'] = '1d'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['tier'] = '1c'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['tier'] = '1b'
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1497327823.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a ['tier'] = '1a'

In [54]:
#This function recieves a dataframe and name of column to be extracted as parameter, returns list of values adjusted to curve
def get_curve (df, column):
    list = df[column].values.tolist()
    normalized_list = []
    max_value = max(list)
    min_value = min(list)
    for i in list:
        x = ((i - min_value)/(max_value - min_value) * 10)
        normalized_list.append(x)
    
    return normalized_list

In [55]:
#Extract income KPI
x_low = get_curve (df_low, 'total_income')
x_mid_low = get_curve(df_mid_low, 'total_income')
x_mid_high = get_curve(df_mid_high, "total_income")
tier_1d_x = get_curve(tier_1d, 'total_income')
tier_1c_x = get_curve(tier_1c,'total_income')
tier_1b_x = get_curve(tier_1b, 'total_income')
tier_1a_X = get_curve(tier_1a, 'total_income')

In [56]:
#Add income KPI as new column
df_low['total_income_kpi'] = x_low
df_mid_low['total_income_kpi'] = x_mid_low
df_mid_high['total_income_kpi'] = x_mid_high
tier_1d['total_income_kpi'] = tier_1d_x
tier_1c['total_income_kpi'] = tier_1c_x
tier_1b['total_income_kpi'] = tier_1b_x
tier_1a['total_income_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['total_income_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['total_income_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['total_income_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['total_income_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['total_income_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['total_income_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/2676696113.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['total_income_kpi'] = tier_1a_X

In [57]:
#Extract review average KPI 
x_low = get_curve (df_low, 'review_avg')
x_mid_low = get_curve(df_mid_low, 'review_avg')
x_mid_high = get_curve(df_mid_high, "review_avg")
tier_1d_x = get_curve(tier_1d, 'review_avg')
tier_1c_x = get_curve(tier_1c,'review_avg')
tier_1b_x = get_curve(tier_1b, 'review_avg')
tier_1a_X = get_curve(tier_1a, 'review_avg')

In [58]:
#Add review KPI as new column
df_low['review_avg_kpi'] = x_low
df_mid_low['review_avg_kpi'] = x_mid_low
df_mid_high['review_avg_kpi'] = x_mid_high
tier_1d['review_avg_kpi'] = tier_1d_x
tier_1c['review_avg_kpi'] = tier_1c_x
tier_1b['review_avg_kpi'] = tier_1b_x
tier_1a['review_avg_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['review_avg_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['review_avg_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['review_avg_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['review_avg_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['review_avg_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['review_avg_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/3586926041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['review_avg_kpi'] = tier_1a_X

In [59]:
#Extract review delivery average KPI 
x_low = get_curve (df_low, 'Delivery_time')
x_mid_low = get_curve(df_mid_low, 'Delivery_time')
x_mid_high = get_curve(df_mid_high, "Delivery_time") 
tier_1d_x = get_curve(tier_1d, 'Delivery_time')
tier_1c_x = get_curve(tier_1c,'Delivery_time')
tier_1b_x = get_curve(tier_1b, 'Delivery_time')
tier_1a_X = get_curve(tier_1a, 'Delivery_time')

In [60]:
#Add delivery average KPI as new column
df_low['delivery_avg_kpi'] = x_low
df_mid_low['delivery_avg_kpi'] = x_mid_low
df_mid_high['delivery_avg_kpi'] = x_mid_high
tier_1d['delivery_avg_kpi'] = tier_1d_x
tier_1c['delivery_avg_kpi'] = tier_1c_x
tier_1b['delivery_avg_kpi'] = tier_1b_x
tier_1a['delivery_avg_kpi'] = tier_1a_X

/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_low['delivery_avg_kpi'] = x_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_low['delivery_avg_kpi'] = x_mid_low
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mid_high['delivery_avg_kpi'] = x_mid_high
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1d['delivery_avg_kpi'] = tier_1d_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1c['delivery_avg_kpi'] = tier_1c_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1b['delivery_avg_kpi'] = tier_1b_x
/var/folders/y3/7jy530fn1wb42s9db6cpzh8w0000gn/T/ipykernel_16550/1900754394.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tier_1a['delivery_avg_kpi'] = tier_1a_X

In [61]:
df_low.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
2296,2296,2002,sumare,SP,1,1,sumare,SP,1,1,7.00,1.00,1,214.08,4,8.224247,0.000,0.265957
1474,1474,954,ronda alta,RS,1,1,ronda alta,RS,1,1,7.00,5.00,1,100.90,4,3.740095,10.000,0.265957
1851,1851,2850,sao paulo,SP,8,2,sao paulo,SP,8,2,13.00,1.38,8,125.20,4,4.702853,0.950,0.585106
1209,1209,1442,brasilia,DF,3,2,brasilia,DF,3,2,5.67,5.00,3,228.40,4,8.791601,10.000,0.195213
1811,1811,511,sao paulo,SP,4,1,sao paulo,SP,4,1,17.25,4.25,4,85.41,4,3.126387,8.125,0.811170
2417,2417,67,sao paulo,SP,2,2,sao paulo,SP,2,2,4.50,5.00,2,74.99,4,2.713550,10.000,0.132979
2125,2125,2179,sao paulo,SP,1,1,sao paulo,SP,1,1,7.00,5.00,1,79.90,4,2.908082,10.000,0.265957
2141,2141,2777,goiania,GO,2,1,goiania,GO,2,1,25.00,4.00,2,230.00,4,8.854992,7.500,1.223404
2073,2073,2628,juiz de fora,SP,8,1,juiz de fora,SP,8,1,9.50,3.50,8,210.00,4,8.062599,6.250,0.398936
2559,2559,2321,piracicaba,SP,5,0,piracicaba,SP,5,0,12.00,3.60,5,199.50,4,7.646593,6.500,0.531915
2827,2827,630,sao paulo,SP,1,1,sao paulo,SP,1,1,6.00,5.00,1,119.99,4,4.496434,10.000,0.212766
2132,2132,2063,sao paulo,SP,4,1,sao paulo,SP,4,1,15.00,4.75,4,102.24,4,3.793185,9.375,0.691489
2998,2998,585,goiania,GO,1,1,goiania,GO,1,1,15.00,5.00,1,181.00,4,6.913629,10.000,0.691489
2564,2564,2818,joinville,SC,3,2,joinville,SC,3,2,5.33,5.00,3,118.39,4,4.433043,10.000,0.177128
2074,2074,1138,sao paulo,SP,3,0,sao paulo,SP,3,0,20.50,3.67,3,50.00,4,1.723455,6.675,0.984043
2681,2681,373,sao paulo,SP,1,1,sao paulo,SP,1,1,7.00,1.00,1,6.90,4,0.015848,0.000,0.265957
1791,1791,1901,curitiba,PR,1,1,curitiba,PR,1,1,32.00,1.00,1,180.00,4,6.874010,0.000,1.595745
2197,2197,125,contagem,MG,1,1,contagem,MG,1,1,17.00,5.00,1,69.99,4,2.515452,10.000,0.797872
2982,2982,1406,rio das pedras,SP,1,1,rio das pedras,SP,1,1,13.00,5.00,1,229.90,4,8.851030,10.000,0.585106
1523,1523,343,barrinha,SP,2,1,barrinha,SP,2,1,8.50,3.50,2,36.49,4,1.188193,6.250,0.345745

In [62]:
df_mid_low.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
3065,3065,1741,juiz de fora,MG,1,1,juiz de fora,MG,1,1,86.00,1.00,1,975.00,3,9.353827,0.000,10.000000
985,985,714,campinas,SP,5,1,campinas,SP,5,1,13.25,3.80,5,402.60,3,1.875678,7.000,1.339286
997,997,486,curitiba,PR,8,1,curitiba,PR,8,1,6.75,5.00,8,834.97,3,7.524398,10.000,0.565476
1579,1579,2879,sao paulo,SP,7,1,sao paulo,SP,7,1,53.25,2.29,7,517.93,3,3.382413,3.225,6.101190
2356,2356,1855,campo largo,PR,6,1,campo largo,PR,6,1,19.00,3.83,6,460.00,3,2.625583,7.075,2.023810
79,79,1043,tabatinga,SP,6,2,tabatinga,SP,6,2,8.50,4.00,6,664.40,3,5.295977,7.500,0.773810
775,775,244,garuva,SC,6,2,garuva,SC,6,2,10.50,4.33,6,308.96,3,0.652313,8.325,1.011905
2810,2810,370,venancio aires,RS,3,1,venancio aires,RS,3,1,7.67,5.00,3,531.80,3,3.563618,10.000,0.675000
2506,2506,523,castro pires,MG,1,1,castro pires,MG,1,1,7.00,5.00,1,334.99,3,0.992383,10.000,0.595238
2579,2579,1778,blumenau,SC,6,1,blumenau,SC,6,1,11.50,4.33,6,834.00,3,7.511725,8.325,1.130952
2603,2603,1004,curitiba,PR,2,1,curitiba,PR,2,1,14.00,2.00,2,398.00,3,1.815581,2.500,1.428571
472,472,310,sao paulo,SP,10,1,sao paulo,SP,10,1,12.40,4.30,10,311.10,3,0.680271,8.250,1.238095
277,277,1328,joinville,SC,14,2,joinville,SC,14,2,15.93,4.36,14,758.60,3,6.526658,8.400,1.658333
2511,2511,180,franca,SP,4,2,franca,SP,4,2,14.50,3.75,4,369.81,3,1.447291,6.875,1.488095
1839,1839,1311,morrinhos,GO,5,2,morrinhos,GO,5,2,8.80,4.60,5,324.29,3,0.852593,9.000,0.809524
1396,1396,589,taboao da serra,SP,47,3,taboao da serra,SP,47,3,6.38,4.47,47,995.80,3,9.625570,8.675,0.521429
1130,1130,1853,ao bernardo do campo,SP,4,1,ao bernardo do campo,SP,4,1,4.50,4.75,4,434.96,3,2.298447,9.375,0.297619
2628,2628,270,sao vicente,SP,2,1,sao vicente,SP,2,1,7.50,5.00,2,358.00,3,1.292999,10.000,0.654762
152,152,1604,caxias do sul,RS,18,3,caxias do sul,RS,18,3,9.11,4.72,18,838.20,3,7.566597,9.300,0.846429
1164,1164,1875,muriae,MG,7,1,muriae,MG,7,1,8.14,3.86,7,678.00,3,5.473655,7.150,0.730952

In [63]:
df_mid_high.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi
1859,1859,2977,votorantim,SP,28,2,votorantim,SP,28,2,13.93,3.82,28,1751.82,2,2.124560,7.050,1.772093
1702,1702,2103,santo andre,SP,4,1,santo andre,SP,4,1,19.75,4.50,4,3263.80,2,6.569285,8.750,2.674419
1378,1378,2477,divinopolis,MG,38,5,divinopolis,MG,38,5,8.00,4.47,38,4269.18,2,9.524773,8.675,0.852713
1032,1032,227,sao paulo,SP,58,7,sao paulo,SP,58,7,6.34,3.98,58,1125.56,2,0.283561,7.450,0.595349
486,486,2944,sao paulo,SP,88,11,sao paulo,SP,88,11,11.43,3.86,88,3916.98,2,8.489420,7.150,1.384496
737,737,1708,mesquita,RJ,53,2,mesquita,RJ,53,2,10.23,4.06,53,4232.54,2,9.417063,7.650,1.198450
587,587,1288,anapolis,GO,22,2,anapolis,GO,22,2,12.09,4.41,22,1833.43,2,2.364466,8.525,1.486822
142,142,1003,sao paulo,SP,24,6,sao paulo,SP,24,6,15.36,3.33,24,1497.36,2,1.376531,5.825,1.993798
1929,1929,2351,mesquita,RJ,22,2,mesquita,RJ,22,2,10.59,4.45,22,1150.57,2,0.357082,8.625,1.254264
2280,2280,3026,sao paulo,SP,13,2,sao paulo,SP,13,2,9.23,4.62,13,2586.74,2,4.578951,9.050,1.043411
1040,1040,214,atibaia,SP,19,1,atibaia,SP,19,1,13.35,4.74,19,1394.98,2,1.075567,9.350,1.682171
361,361,1461,sao paulo,SP,15,7,sao paulo,SP,15,7,8.93,4.27,15,1087.06,2,0.170383,8.175,0.996899
1189,1189,1723,jaragua do sul,SC,86,4,jaragua do sul,SC,86,4,13.31,4.16,86,3148.46,2,6.230223,7.900,1.675969
414,414,2922,sao paulo,SP,59,4,sao paulo,SP,59,4,10.04,4.03,59,2307.41,2,3.757812,7.575,1.168992
2309,2309,864,sao paulo,SP,2,1,sao paulo,SP,2,1,7.00,3.00,2,2840.00,2,5.323452,5.000,0.697674
333,333,1666,braco do norte,SC,23,8,braco do norte,SC,23,8,8.74,3.87,23,2418.30,2,4.083792,7.175,0.967442
1043,1043,515,tubarao,SC,17,3,tubarao,SC,17,3,12.41,4.18,17,2304.00,2,3.747788,7.950,1.536434
1941,1941,2925,bariri,SP,3,1,bariri,SP,3,1,6.50,3.67,3,1696.70,2,1.962525,6.675,0.620155
2427,2427,2971,rio de janeiro,RJ,3,1,rio de janeiro,RJ,3,1,28.00,3.67,3,1059.90,2,0.090542,6.675,3.953488
1620,1620,536,uruacu,GO,14,2,uruacu,GO,14,2,10.14,4.07,14,1077.00,2,0.140810,7.675,1.184496

In [64]:
df_high = pd.concat([tier_1a, tier_1b, tier_1c, tier_1d])

In [65]:
kpi_table = pd.concat([df_low, df_mid_low, df_mid_high, df_high], axis=0)

In [66]:
#create function that subtracts delivery_avg_kpi from 10, returns result
def flip_kpi (df, column):
    list = df[column].values.tolist()
    flipped_list = []
    for i in list:
        res = (10 - i)
        flipped_list.append(res)
        
    return flipped_list

In [67]:
temp_list = flip_kpi (kpi_table, 'delivery_avg_kpi')

In [68]:
kpi_table['delivery_avg_kpi*'] = temp_list

In [69]:
kpi_table['performance_kpi'] = kpi_table[['total_income_kpi', 'review_avg_kpi', 'delivery_avg_kpi*']].mean(axis=1)

In [70]:
kpi_table.drop(columns=['delivery_avg_kpi'], inplace=True)

In [71]:
kpi_table.sample(20)

,Unnamed: 0,seller_id,seller_city_x,seller_state_x,product_id_x,product_category_name_x,seller_city_y,seller_state_y,product_id_y,product_category_name_y,Delivery_time,review_avg,total_orders,total_income,tier,total_income_kpi,review_avg_kpi,delivery_avg_kpi*,performance_kpi
1979,1979,2611,sao paulo,SP,3,1,sao paulo,SP,3,1,9.67,4.67,3,450.00,3,2.494937,9.175,9.086905,6.918947
2910,2910,1699,igaracu do tiete,SP,1,1,igaracu do tiete,SP,1,1,12.00,3.00,1,79.99,4,2.911648,5.000,9.468085,5.793244
2483,2483,1740,porto alegre,RS,2,1,porto alegre,RS,2,1,24.50,3.00,2,133.80,4,5.043582,5.000,8.803191,6.282258
469,469,546,sao paulo,SP,25,2,sao paulo,SP,25,2,14.29,3.68,25,1522.50,2,1.450434,6.700,8.172093,5.440842
1166,1166,2183,florianopolis,SC,17,1,florianopolis,SC,17,1,17.59,4.35,17,995.04,3,9.615641,8.375,8.144048,8.711563
2166,2166,1785,barra mansa,RJ,6,2,barra mansa,RJ,6,2,16.33,3.83,6,1971.46,2,2.770229,7.075,7.855814,5.900348
2848,2848,1207,jundiai,SP,1,1,jundiai,SP,1,1,12.00,5.00,1,367.00,3,1.410580,10.000,8.809524,6.740034
1802,1802,80,sao paulo,SP,4,2,sao paulo,SP,4,2,6.75,4.00,4,173.99,1a,5.336380,7.500,9.280303,7.372228
688,688,2084,curitiba,PR,12,2,curitiba,PR,12,2,11.92,3.92,12,734.00,3,6.205270,7.300,8.819048,7.441439
1330,1330,2798,itapevi,SP,30,5,itapevi,SP,30,5,10.10,3.93,30,4427.00,2,9.988712,7.325,8.821705,8.711806
1797,1797,164,goiania,GO,2,1,goiania,GO,2,1,7.50,5.00,2,144.80,1a,0.000000,10.000,9.166667,6.388889
2928,2928,136,santos,SP,2,1,santos,SP,2,1,3.00,4.50,2,257.75,4,9.954437,8.750,9.946809,9.550415
2760,2760,2047,jundiai,SP,3,1,jundiai,SP,3,1,16.00,4.67,3,119.70,4,4.484945,9.175,9.255319,7.638421
2021,2021,1612,itajai,SC,13,2,itajai,SC,13,2,19.62,3.77,13,1714.80,2,2.015733,6.925,7.345736,5.428823
664,664,2334,itajai,SC,17,1,itajai,SC,17,1,16.81,4.41,17,971.25,3,9.304835,8.525,8.236905,8.688913
2926,2926,1272,pedreira,SP,1,1,pedreira,SP,1,1,4.00,5.00,1,189.00,4,7.230586,10.000,9.893617,9.041401
1523,1523,343,barrinha,SP,2,1,barrinha,SP,2,1,8.50,3.50,2,36.49,1d,6.313684,6.250,9.654255,7.405980
1382,1382,3082,londrina,PR,19,5,londrina,PR,19,5,9.39,3.79,19,2828.90,2,5.290822,6.975,8.931783,7.065868
2891,2891,1957,sao paulo,SP,2,0,sao paulo,SP,2,0,47.50,3.00,2,139.80,4,5.281300,5.000,7.579787,5.953696
2226,2226,1462,sao paulo,SP,1,1,sao paulo,SP,1,1,12.00,5.00,1,6.50,1d,0.000000,10.000,9.468085,6.489362